﻿
@{
    ViewBag.Title = "News";
}
<style>
    .news-img{
        padding:0;
        border-radius:10px;
        margin-top:20px;
        width:70%;
    }

    html {
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        background-color: #39903947;
        margin-right: 100px;
    }
</style>
<div class="LMS_Header">
    <a href="@Url.Action("Index","Dashboard")" class="btn"><i class="fas fa-backward"></i> Back</a>
    <i class="fas fa-pen-alt"></i>
    @ViewBag.Title
</div>
<div class="LMS_body" style="overflow: scroll; height:75vh; overflow-x:hidden; padding:10px;">

    <div class="row">

        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 news quiz-table">
            <img src="https://ak.picdn.net/shutterstock/videos/1418749/thumb/6.jpg?i10c=img.resize(height:240)" style="" class="news-img">
            <hr style="height:2px; border-color:green;" />
            <h3>Lock Down</h3>
            <span>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                <br />
            </span>
            <a href="@Url.Action("Details","News" , new { id = 123 })" value="123" class="btn btn-warning">Read More <i class="fas fa-newspaper"></i> </a>
        </div>

        

    </div>

</div>
