﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
    <link rel="icon" href="~/Image/favicon.png" type="image/gif" sizes="16x16">
</head>
<body onload="altit()" style="background:#eee;font-family: 'Open Sans', sans-serif;">
    <script>
        function altit() {
            swal({
                title: "Session Expired!",
                text: "Web Department",
                icon: "warning",
                buttons: "Close",
                closeOnClickOutside: false,
                closeOnEsc: false,
            });
            setTimeout(function () {
                window.location = "@System.Configuration.ConfigurationManager.AppSettings["loginfailed"]";
            }, 2500);
        }
    </script>
</body>
</html>
