﻿
@{
    ViewBag.Title = "AddFile";
}

<div class="LMS_Header">@ViewBag.Title</div>
<div class="LMS_body">
<form class="form">

    <div class="form-group">
        <label class="newbtn btn">
            <img id="blah" src="https://www.itnamerica.org/assets/images/file-upload-icon.png">
            <input id="pic" class='pis hidden' onchange="readURL(this);" type="file">
        <code>Select one Video Lecture at a time.</code>
        </label>
    </div>

    <br />
    <div class="form-group">
        <input type="submit" name="submit" value="Add Private File" class="btn btn-success" />
        <a href="@Url.Action("Index","Private")" value="" class="btn btn-primary" style="margin-left:54%;">Previously Uploaded Files</a>
    </div>

</form>
</div>
