﻿
@{
    ViewBag.Title = "Private Files";
}

<div class="LMS_Header">
    <div class="row">
        <div class="col-md-6 col-md-6 col-sm-12 col-xs-12">
            <a href="@Url.Action("Index","Dashboard")" class="btn"><i class="fas fa-backward"></i> Back</a>
            @ViewBag.Title
        </div>
        <a href="@Url.Action("AddFile","Private")" class="col-md-4 col-md-4 col-sm-12 col-xs-12 btn btn-primary" style="margin-left:15%;">Add File</a>
    </div>
</div>
<div class="LMS_body">
    <div class="row">
        <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
            <a href="https://sweetalert.js.org/assets/images/logo.svg" download><h3>Alforda Brazilia</h3></a>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12" style="margin-top:1%;">
            <input type="button" class="btn btn-danger" value="Delete" name="Delete" id="btndelete" />
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
                $(document).ready(function ()
                {
                    $("#btndelete").click(function () {
                        swal({
                            title: "Are you sure?",
                            text: "Once deleted, you will not be able to recover this Private File!",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
.then((willDelete) => {
    if (willDelete) {
        swal("Poof! Your Document has been deleted!", {
            icon: "success",
        });

    } else {
        swal("Your Document file is safe!");
    }
});
                    });
                    });
</script>