﻿
@{
    ViewBag.Title = "Accounts Portal";
}
<style>
    .catlog {
        padding: 1%;
        margin-top: 1%;
        margin-left: 6%;
        font-size: 20px;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .Assessment {
        background-color: red;
    }
</style>
<div class="LMS_Header">
    <a href="@Url.Action("Index","Dashboard")" class="btn"><i class="fas fa-backward"></i> Back</a>
    <i class="fas fa-exchange-alt"></i>
    @ViewBag.Title
</div>
<div class="LMS_body col-sm-12 col-xs-12">
    <div class="row">

        <a class="col-md-5 catlog btn btn-danger col-sm-10 col-xs-10" href="@Url.Action("Submission","Accounts")">
            <i class="fas fa-hand-holding-usd"></i> Fees Payment
        </a>

        <a class="col-md-5 catlog btn btn-warning col-sm-10 col-xs-10" href="@Url.Action("Reports","Accounts")">
            <i class="fas fa-exchange-alt"></i> Submitted Fees Record
        </a>

        <a class="col-md-5 catlog btn btn-success col-sm-10 col-xs-10" href="@Url.Action("Record","Accounts")">
            <i class="fas fa-server"></i> Student Record
        </a>    

    </div>
</div>

