﻿
@{
    ViewBag.Title = "Record";
}

<div class="LMS_Header">
    <a href="@Url.Action("Index","Accounts")" class="btn"><i class="fas fa-backward"></i> Back</a>
    <i class="fas fa-server"></i>
    @ViewBag.Title
</div>
<div class="LMS_body">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Class</th>
                <th>Bank</th>
                <th>Payment Type</th>
                <th>Account Number</th>
                <th>Status</th>
                <th>Change</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Syed Talha</td>
                <td>One</td>
                <td>Meezan Bank</td>
                <td>Transfer</td>
                <td>923152155245</td>
                <td>Pending</td>
                <td><a href="@Url.Action("Update")" class="btn btn-warning">Update</a></td>
                <td>2021-04-03 08:34:14.813</td>
            </tr>
            <tr>
                <td>Syed Talha</td>
                <td>One</td>
                <td>Meezan Bank</td>
                <td>Transfer</td>
                <td>923152155245</td>
                <td>Completed</td>
                <td><a href="@Url.Action("Update")" class="btn btn-warning">Update</a></td>
                <td>2021-04-03 08:34:14.813</td>
            </tr>
            <tr>
                <td>Syed Talha</td>
                <td>One</td>
                <td>Meezan Bank</td>
                <td>Transfer</td>
                <td>923152155245</td>
                <td>Pending</td>
                <td><a href="@Url.Action("Update")" class="btn btn-warning">Update</a></td>
                <td>2021-04-03 08:34:14.813</td>
            </tr>
        </tbody>
    </table>
</div>

