﻿
@{
    ViewBag.Title = "Reports";
}

<div class="LMS_Header">
    <a href="@Url.Action("Index","Accounts")" class="btn"><i class="fas fa-backward"></i> Back</a>
    <i class="fas fa-exchange-alt"></i>
    @ViewBag.Title
</div>
<div class="LMS_body">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Bank</th>
                <th>Payment Type</th>
                <th>Account Number</th>
                <th>Class</th>
                <th>Status</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Meezan Bank</td>
                <td>Transfer</td>
                <td>923152155245</td>
                <td>One</td>
                <td>Approved</td>
                <td>
                    2021-04-03 08:34:14.813
                </td>
            </tr>
            <tr>
                <td>Meezan Bank</td>
                <td>Transfer</td>
                <td>923152155245</td>
                <td>One</td>
                <td>Pending</td>
                <td>
                    2021-04-03 08:34:14.813
                </td>
            </tr>
            <tr>
                <td>Meezan Bank</td>
                <td>Cash</td>
                <td>--</td>
                <td>One</td>
                <td>Declined</td>
                <td>
                    2021-04-03 08:34:14.813
                </td>
            </tr>
        </tbody>
    </table>
</div>

