﻿
@{
    ViewBag.Title = "Submission";
}

<div class="LMS_Header">
    <a href="@Url.Action("Index","Accounts")" class="btn"><i class="fas fa-backward"></i> Back</a>
    <i class="fas fa-hand-holding-usd"></i>
    @ViewBag.Title
</div>
<div class="LMS_body">

    <form action="" class="form" method="post">

        <div class="row">

            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Select Bank<sup style="color:red;"> *</sup> </label>
                    <select class="form-control">
                        <option value="">-- Select Bank --</option>
                        <option value="">Meezan Bank</option>
                        <option value="">Alfalah Bank</option>
                        <option value="">Allied Bank</option>
                        <option value="">Habib Bank Limited</option>
                        <option value="">Habib Metro</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Payment Type<sup style="color:red;"> *</sup> </label>
                    <select class="form-control">
                        <option value="">-- Payment Type --</option>
                        <option value="">Cash</option>
                        <option value="">Transfer</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Enter Account Number <sup style="color:red;">If Transfered</sup> </label>
                    <input type="text" name="account" placeholder="Account Number (If Transfered Directly)" class="form-control" value="" />
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Select Class <sup style="color:red;"> *</sup> </label>
                    <select class="form-control">
                        <option value="">-- Select Class --</option>
                        <option value="">One</option>
                        <option value="">Two</option>
                        <option value="">Three</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <label class="control-label">Select Submission Date <sup style="color:red;"> *</sup> </label>
                    <input type="datetime-local" name="account" placeholder="" class="form-control" value="" />
                </div>
            </div>

            <div class="col-lg-3">
                <label class="control-label">Upload Deposit Slip Copy <sup style="color:red;"> *</sup> </label>
                <input type="file" class="form-control" name="name" value="" />
            </div>

            <div class="col-lg-3">
                <a class="btn btn-success" style="margin-top:7%;" id="submit">Submit</a>
            </div>

        </div>


    </form>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            debugger;
            swal("Good job!", "Fees has been submitted!", "success");
            setTimeout(function () {
            debugger;
                window.location.href = "@Url.Action("Index")"; //will redirect to your page (an ex: Accounts/Index)
            }, 1500);
        });
    });
    $(document).ready(function () {
        $("#error").click(function () {
            swal("Error Occurred!", "Please reachout to Team IT!", "warning");
        });
    });
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>