﻿
@{
    ViewBag.Title = "Update";
}

<div class="LMS_Header col-sm-12 col-xs-12">
    <a href="@Url.Action("Record","Accounts")" class="btn"><i class="fas fa-backward"></i> Back</a>
    <i class="fas fa-server"></i>
    @ViewBag.Title
</div>
<div class="LMS_body col-sm-12 col-xs-12">

    <form action="" method="post">
        <div class="form-group">
            <label class="control-label">
                Student Name
            </label>
            <textarea class="form-control max-width" readonly>Syed talha</textarea>

            <label class="control-label">
                Bank Name
            </label>
            <textarea class="form-control max-width" readonly>meezan Bank</textarea>

            <label class="control-label">
                payment Type
            </label>
            <textarea class="form-control max-width" readonly>Transfer</textarea>

            <label class="control-label">
                Account Number
            </label>
            <textarea class="form-control max-width" readonly>923152155245</textarea>

            <label class="control-label">
                Submission Date / Time
            </label>
            <textarea class="form-control max-width" readonly>2021-04-03 08:34:14.813</textarea>

            <label class="control-label">
                Update
            </label>
            <select class="form-control max-width">
                <option value="">-- Update Status-- </option>
                <option value="">Pending</option>
                <option value="">Completed</option>
                <option value="">Declined</option>
            </select>

            <br />
            <a id="update" class="btn btn-warning max-width" style="width:100%;">Update</a>

        </div>
    </form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#update").click(function () {
            debugger;
            swal("Good job!", "Requested Status Has been Updated!", "success");
            setTimeout(function () {
            debugger;
                window.location.href = "@Url.Action("Record")"; //will redirect to your page (an ex: Accounts/Record)
            }, 1500);
        });
    });
    $(document).ready(function () {
        $("#error").click(function () {
            swal("Error Occurred!", "Please reachout to Team IT!", "warning");
        });
    });
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>