﻿@{ 
    ViewBag.Title = "Edit Lecture";
}
<style>
    .max-width{
        max-width:initial;
    }
</style>
<div class="LMS_Header">
    @ViewBag.Title
</div>
<div class="LMS_body">
    <form method="post" action="@Url.Action("LecturesList","Classroom")" class="form">

        <div class="form-group">
            <label class="control-label">Title:</label>
            <input type="text" class="form-control max-width" placeholder="Enter Title"/>
        </div>

        <div class="form-group">
            <label class="control-label">Description:</label>
            <input type="text" class="form-control max-width" placeholder="Enter Description" />
        </div>

        <div class="form-group">
            <label class="control-label">Previous Lecture preview:</label>
            <iframe width="560" style="height:400pt!important;" src="https://www.youtube.com/embed/v8A8qmsas08" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" class="form-control" allowfullscreen></iframe>
        </div>

        <div class="form-group" style="margin-left:27%;">
            <label class="control-label">Upload New Lecture</label>
            <label class="newbtn btn">
                <img id="blah" src="https://www.itnamerica.org/assets/images/file-upload-icon.png">
                <input id="pic" class='pis hidden' onchange="readURL(this);" type="file">
                <code>Select One Lecture at a time!</code>
            </label>
        </div>

        <div class="form-group">
            <a href="@Url.Action("LecturesList","Classroom")" class="btn btn-warning form-control">Cancel</a>
            <br />
            <br />
            <input type="submit" class="btn btn-success form-control max-width" value="Update Record"/>
        </div>


    </form>
</div>