﻿@{
    ViewBag.Title = "Class Room";
}
<div class="LMS_Header">
    <a href="@Url.Action("Index","Dashboard")" class="btn"><i class="fas fa-backward"></i> Back</a>

    <i class="fas fa-chalkboard-teacher"></i> @ViewBag.Title
</div>
<div class="LMS_body">
    <div class="row">
        <div class="quiz-table col-md-3" style="">
            <img src="~/images/system.png" style="padding: 10px; border-radius: 10px; margin-top: 20px; width:40%;">
            <hr style="height:2px;" />
            <h2>English</h2>
            <a href="@Url.Action("LecturesList","classroom" , new { id = 123 })" value="123" class="btn btn-danger"><i class="fas fa-video"></i> Lectures</a>
        </div>
    </div>
</div>
