﻿@{
    ViewBag.Title = "Uploaded Lectures";
}

<div class="LMS_Header">
    

    
    <div class="row">
        <div class="col-md-6 col-md-6 col-sm-12 col-xs-12">
            <a href="@Url.Action("Index","Classroom")" class="btn"><i class="fas fa-backward"></i> Back</a>
            <i class="fas fa-chalkboard-teacher"></i> @ViewBag.Title
        </div>
        <a href="@Url.Action("Recording","Classroom")" class="col-md-4 col-md-4 col-sm-12 col-xs-12 btn btn-primary" style="margin-left:15%; color:white!important;">Add New Lecture</a>
    </div>
</div>
<div class="LMS_body">
    <div class="row">
        <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
            <a href="@Url.Action("Classroom","Classroom")"><h3>1) How to Install Noodle</h3></a>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12" style="margin-top:1%;">
            <a class="btn btn-warning" href="@Url.Action("Edit","Classroom")">Edit</a>
            <input type="button" class="btn btn-danger" value="Delete" name="Delete" id="btndelete" />
        </div>
    </div>
    <hr style="width:95%; padding:0; border: 1px solid green;"/>
    <div class="row">
        <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
            <a href="@Url.Action("Classroom","Classroom")"><h3>2) How to Install Noodle</h3></a>

        </div>
        <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12" style="margin-top:1%;">
            <a class="btn btn-warning" href="@Url.Action("Edit","Classroom")">Edit</a>
            <input type="button" class="btn btn-danger" value="Delete" name="Delete" id="btndelete" />
        </div>
    </div>
    <hr style="width:95%; padding:0; border: 1px solid green;" />
    <div class="row">
        <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12">
            <a href="@Url.Action("Classroom","Classroom")"><h3>3) How to Install Noodle</h3></a>

        </div>
        <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12" style="margin-top:1%;">
            <a class="btn btn-warning" href="@Url.Action("Edit","Classroom")">Edit</a>
            <input type="button" class="btn btn-danger" value="Delete" name="Delete" id="btndelete" />
        </div>
    </div>
    <hr style="width:95%; padding:0; border: 1px solid green;" />
    
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function ()
                {
                    $("#btndelete").click(function () {
                        swal({
                            title: "Are you sure?",
                            text: "Once deleted, you will not be able to recover this imaginary file!",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
.then((willDelete) => {
    if (willDelete) {
        swal("Poof! Your Lecture & file has been deleted!", {
            icon: "success",
        });

    } else {
        swal("Your Lecture file is safe!");
    }
});
                    });
                    });
            </script>
            