﻿@{
    ViewBag.Title = "Add New Lecture";
}
<div class="LMS_Header">English Class</div>
<div class="LMS_body">
    <form class="form" action="#" method="post">


        <div class="row">

            <div class="form-group col-md-12 col-lg-12">
                <label class="control-label col-md-12">Title: </label>
                <input id="" type="text" class="form-control" name="name" value="" style="max-width:100%;" />
            </div>

            <div class="form-group col-md-12 col-lg-12">
                <label class="control-label col-md-12">Description: </label>
                <textarea type="text" class="form-control " name="name" value="Enter Description" style="max-width:100%; height:200px;" /></textarea>
            </div>

            <div class="form-group">
                <label class="newbtn btn">
                    <img id="blah" src="https://www.itnamerica.org/assets/images/file-upload-icon.png">
                    <input id="pic" class='pis hidden' onchange="readURL(this);" type="file">
                </label>
            </div>
            <div class="form-group">
                <code>Select one Video Lecture at a time.</code>
                <input type="submit" name="submit" value="Add New Lecture" class="btn btn-success" />
                <a href="@Url.Action("LecturesList","Classroom")" value="" class="btn btn-primary" style="margin-left:54%;" >Previously Uploaded Lectures</a>

            </div>
        </div>

    </form>
    <style>

        #xyz{
            width:100%;
        }

        #upload {
            display: none;
        }

        .newbtn {
            cursor: pointer;
        }

        #blah {
            float:right;
            border:1px dashed gray;
            border-radius:3px ;
            max-width: 200px;
            height: 200px;
            margin-top: 20px;
        }
    </style>
</div>