﻿<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <style>
        /*#login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }*/

        #login-div {
            margin-top: 15%;
            margin-left: 30%;
            width: 40%;
        }

        .exist, .restricted {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }
    </style>
</head>
<body>


    <div class="wrapper fadeInDown">
        <div id="formContent">

            <div class="fadeIn first">
                <img src="/images/Logo.png" id="icon" alt="User Icon" />
                @*<h1 style="color:#ab3132;">LMS Login</h1>*@
            </div>

            <form action="/Login/Loginuser" method="post">

                <div class="form-group">
                    <label class="control-label fadeIn second">Email: </label>

                    <br>
                    <input type="text" name="username" value="" placeholder="Enter username" class="form-control fadeIn second"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Password: </label>
                    <input type="text" name="password" value="" placeholder="Enter Password" class="form-control fadeIn second" />

                </div>

                <br />

                <br />

                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
            <div id="formFooter">
                <a class="underlineHover" href="#">Go to the Site</a>
            </div>
        </div>
    </div>



    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</body>
</html>
