﻿
@{
    ViewBag.Title = "Add Assignment";
}

<div class="LMS_Header"><i class="fas fa-plus"></i> @ViewBag.Title</div>
<div class="LMS_body">
    <form action="#" class="form" method="post">


        <div class="row">

            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label">
                        Select Class:
                    </label><br />
                    <select class="form-select form-control" aria-label="" style=" max-width:initial;">
                        <option selected>Open this select menu and Select Class</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label">
                        Assignment Title:
                    </label>
                    <input type="text" name="Assignment" value="" placeholder="Assignment Title . . ." class="form-control" style="max-width:inherit;" />
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>

        </div>

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <label class="control-label">
                    Brief:
                </label>
                <input type="text" name="name" value="" placeholder="Enter Discription" class="form-control" style="max-width:initial; height:40pt;" />
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                <br />
                <div class="row">
                    <div class="col-lg-1 col-md-1"></div>
                    <a type="submit" name="submit" value="Cancel" class="btn btn-warning col-lg-4 col-md-4 col-sm-12 col-xs-12 catlog" href="@Url.Action("Index","Assignment")"><i class="fas fa-ban"></i> Cancel</a>
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-1 col-md-1"></div>
                    <a class="btn btn-primary col-lg-4 col-md-4 col-sm-12 col-xs-12 catlog" id="submit"><i class="fas fa-save"> </i> @ViewBag.Title</a>
                    <div class="col-lg-1 col-md-1"></div>

                </div>
                <br />
                <br />

            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
        </div>
        <style>
            .catlog {
                padding: 1%;
                margin-top: 1%;
                margin-left: 6%;
                font-size: 20px;
                padding-top: 2%;
                padding-bottom: 2%;
            }
        </style>





    </form>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            debugger;
            swal("Done!", "New Assignment has been Added!", "success");
            setTimeout(function () {
            debugger;
                window.location.href = "@Url.Action("Index")"; //will redirect to your page (an ex: Task/Tasks)
            }, 1500);
        });
    });
</script>