﻿
@{
    ViewBag.Title = "Assignments";
}

<div class="LMS_Header">
    <a href="@Url.Action("Field","Assignment")" class="btn"><i class="fas fa-backward"></i> Back</a>
    <i class="fas fa-thumbtack"></i>
    @ViewBag.Title
</div>

<div class="LMS_body">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <h3>John William</h3>
            <hr style="width:95%; padding:0; border: 1px solid green;" />
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="float:right; padding:15px;">
            <a href="@Url.Action("Edit","Assignment")" class="btn btn-warning"><i class="fas fa-edit"></i> Edit</a>
            <button class="btn btn-danger" onclick="Delete()"><i class="fas fa-trash-alt"></i> Delete</button>

        </div>
    </div>


    @*<h3>Albert Smith</h3>
    <hr style="width:95%; padding:0; border: 1px solid green;" />*@
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function Delete() {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this Assignment file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Poof! Your Assignment file has been deleted!", {
                        icon: "success",
                    });
                } else {
                    swal("Your Assignment file is safe!");
                }
            });
    }

</script>
