﻿
@{
    ViewBag.Title = "Edit";
}

<div class="LMS_Header">
    <a href="@Url.Action("Assignments","Assignment")" class="btn"><i class="fas fa-backward"></i> Back</a>
    <i class="fas fa-edit"></i>
    @ViewBag.Title
</div>
<div class="LMS_body">
    <form action="#" method="post" class="form">
        <div class="form-group">
            <label class="control-label">Assignment Title: </label>
            <input type="text" name="teacher" placeholder="Assigned Assignment for testing" readonly class="form-control max-width" value="" />
        </div>
        <div class="form-group">
            <label class="control-label">Submitted Assignment: </label>
            <div class="form-control">
                <a href="#">John William Assignment File</a>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Assignment Marks: </label>
            <input type="text" name="name" value="" placeholder="Enter Assignment Marks" class="form-control max-width" />
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-1 col-md-1"></div>
                <a type="submit" name="submit" value="Cancel" class="btn btn-warning col-lg-4 col-md-4 col-sm-12 col-xs-12 catlog" href="@Url.Action("Assignments","Assignment")"><i class="fas fa-ban"></i> Cancel</a>
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-1 col-md-1"></div>
                <a class="btn btn-primary col-lg-4 col-md-4 col-sm-12 col-xs-12 catlog" onclick="Done()"><i class="fas fa-save"> </i> Set Marks</a>
                <div class="col-lg-1 col-md-1"></div>

            </div>
        </div>
    </form>
</div>

<style>
    .max-width {
        max-width: initial;
    }

    .catlog {
        padding: 1%;
        margin-top: 1%;
        margin-left: 6%;
        font-size: 20px;
        padding-top: 2%;
        padding-bottom: 2%;
    }
</style>

<script>
    function Done() {
        swal({
            title: "Good job!",
            text: "You clicked the button!",
            icon: "success",
            button: "Go Back!",
        });
        setTimeout("location.href = '@Url.Action("Assignments", "Assignment")';", 1500);
    }
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>