﻿
@{
    ViewBag.Title = "Student Assignments";
}
<style>
    .btn-height{
        padding:1.5%;
        font-weight:bold;
    }
</style>
<div class="LMS_Header">
    <a href="@Url.Action("Index","Dashboard")" class="btn"><i class="fas fa-backward"></i> Back</a>

    <i class="fas fa-flask"></i> @ViewBag.Title
</div>
<div class="LMS_body">
    <div class="row">
        <div class="col-lg-1"></div>
        <a href="@Url.Action("AddAssignment","Assignment")">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 btn btn-primary btn-height"><i class="fas fa-plus"></i> Add Student Assignment</div>
        </a>
        <div class="col-lg-2"></div>
        <a href="@Url.Action("Field","Assignment")">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 btn btn-info btn-height"><i class="fas fa-thumbtack"></i> Submitted Assignments</div>
        </a>
    </div>
            <br />
    <div class="row">
        <div class="col-lg-1"></div>
        <a href="@Url.Action("StudentClass","Assignment")">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 btn btn-success btn-height"><i class="fas fa-flask"></i> Assignment</div>
        </a>
        <div class="col-lg-2"></div>
    </div>
</div>

