﻿
@{
    ViewBag.Title = "Student Assignment";
}

<div class="LMS_Header">
    <a href="@Url.Action("StudentClass","Assignment")" class="btn"><i class="fas fa-backward"></i> Back</a>
    <i class="fas fa-thumbtack"></i>
    @ViewBag.Title
</div>
<div class="LMS_body">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <h3>Assigned Assignment for testing</h3>
            <hr style="width:95%; padding:0; border: 1px solid green;" />
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="float:right; padding:15px;">
            <a href="@Url.Action("UploadAssignment","Assignment")" class="btn btn-success"><i class="fas fa-upload"></i> Upload Assignment</a>

        </div>
    </div>
</div>
