﻿
@{
    ViewBag.Title = "Upload Assignment";
}

<div class="LMS_Header">
    <a href="@Url.Action("StudentAssignment","Assignment")" class="btn"><i class="fas fa-backward"></i> Back</a>
    <i class="fas fa-upload"></i>
    @ViewBag.Title
</div>
<div class="LMS_body">
    <form action="#" method="post">
        <div class="form-group">
            <label class="control-label">Instructor: </label>
            <input type="text" name="teacher" placeholder="Syed Talha" readonly class="form-control" value="" />
        </div>
        <div class="form-group">
            <label class="control-label">Assignment: </label>
            <input type="text" name="teacher" placeholder="Assigned Assignment for testing" readonly class="form-control max-width" value="" />
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <label class="newbtn btn">
                        <img id="blah" src="https://www.itnamerica.org/assets/images/file-upload-icon.png" style="width:30%;">
                        <input id="pic" class='pis hidden' onchange="readURL(this);" type="file">
                    </label>
                </div>
                
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                    <a class="btn btn-primary" onclick="UploadAssignment()" style="margin-top:20%;"><i class="fas fa-cloud-upload-alt"></i> Submit Assignment</a>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function UploadAssignment() {
        swal({
            title: "Good job!",
            text: "You have submitted your Assignment!",
            icon: "success",
            button: "Go Back!",
        });
        setTimeout("location.href = '@Url.Action("StudentAssignment", "Assignment")';", 2000);
    }
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>