﻿
@{
    ViewBag.Title = "Add Assessment";
}

<div class="LMS_Header">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">@ViewBag.Title</div>
    </div>
</div>
<div class="LMS_body">
    <form action="" method="post">
        <div id="questions">
            <label class="control-label">Question:</label>
            <input type="text" class="form-control max-width" name="answer" placeholder="Enter Question" />
            <br />
            <label class="control-label">Answers:</label>
            <br />
            <input type="text" class="form-control" name="answer" placeholder="Enter Answers" />
            <br />
            <input type="text" class="form-control" name="answer" placeholder="Enter Answers" />
        </div>


        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"></div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="float:right;">
                <a href="@Url.Action("Instructor","Assessment")" class="btn btn-warning"><i class="fas fa-ban"></i> Go Back</a>
                <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"></div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="float:right;">
            <br />
            <button class="btn btn-primary" onclick="question()" onsubmit="return false"><i class="fas fa-chevron-down"></i> Add More Questions</button>
        </div>
    </div>

</div>

<script>
    function question() {

        $('#questions').append("<div><br><label class='control-label'>Question:</label>" + "<input type = 'text' class= 'form-control max-width' name = 'answer' placeholder = 'Enter Question' />" + "<br><label class='control-label'>Answers:</label>" + "<input type='text' class='form-control' name='answer' placeholder='Enter Answers' />" + "<br>" + "<input type='text' class='form-control' name='answer' placeholder='Enter Answers' />" + "<br>" + "<input type='text' class='form-control' name='answer' placeholder='Enter Answers' /></div>");


    }


    function al() {
        debugger;
        false;
    }
</script>
