﻿
@{
    ViewBag.Title = "Assessments";
}

<div class="LMS_Header">
    <a href="@Url.Action("Index","Dashboard")" class="btn"><i class="fas fa-backward"></i> Back</a>

    <i class="fas fa-flask"></i> @ViewBag.Title
</div>
<div class="LMS_body">
    <div class="row">
        <div class="col-lg-1"></div>
        <a href="@Url.Action("Instructor","Assessment")">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 btn btn-primary btn-height"><i class="fas fa-plus"></i> Add Exam</div>
        </a>
        <div class="col-lg-2"></div>
        <a href="@Url.Action("Result","Assessment")">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 btn btn-warning btn-height"><i class="fas fa-tasks"></i> My Result</div>
        </a>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-1"></div>
        <a href="@Url.Action("Classes","Assessment")">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 btn btn-danger btn-height"><i class="fas fa-location-arrow"></i> Start Exam</div>
        </a>
        
        <div class="col-lg-2"></div>
        <a href="@Url.Action("ResultStatus","Assessment")">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 btn btn-success btn-height"><i class="fa fa-area-chart"></i> Exam Results</div>
        </a>
    </div>
</div>
<style>
    .btn-height {
        padding: 1.5%;
        font-weight: bold;
    }
</style>