﻿@{
    ViewBag.Title = "Result";
}
<style>
    html {
        overflow: hidden;
    }
</style>
<div class="LMS_Header">
    <a href="@Url.Action("Index","Assessment")" class="btn"><i class="fas fa-backward"></i> Back</a>

    <i class="fas fa-tasks"></i> @ViewBag.Title
</div>
<div class="LMS_body">
    <table class="table table-bordered table-responsive table-hover table-striped">
        <thead>
            <tr>
                <th>Student</th>
                <th>Instructor Name</th>
                <th>Class</th>
                <th>Status</th>
                <th>Percentage</th>
                <th>Date/Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Syed Talha</td>
                <td>Suleman</td>
                <td>English</td>
                <td>Passed</td>
                <td>75.7%</td>
                <td>
                    2021-04-03 08:34:14.813
                </td>
            </tr>
            <tr>
                <td>Syed Talha</td>
                <td>Suleman</td>
                <td>English</td>
                <td>Passed</td>
                <td>75.7%</td>
                <td>
                    2021-04-03 08:34:14.813
                </td>
            </tr>
            <tr>
                <td>Syed Talha</td>
                <td>Suleman</td>
                <td>English</td>
                <td>Passed</td>
                <td>75.7%</td>
                <td>
                    2021-04-03 08:34:14.813
                </td>
            </tr>
            <tr>
                <td>Syed Talha</td>
                <td>Suleman</td>
                <td>English</td>
                <td>Passed</td>
                <td>75.7%</td>
                <td>
                    2021-04-03 08:34:14.813
                </td>
            </tr>

        </tbody>
    </table>
</div>