﻿@{
    ViewBag.Title = "Result";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<style>
    html {
        overflow: hidden;
    }

    {
        bottom: .5em;
    }
</style>
<div class="LMS_Header">
    <a href="@Url.Action("Index","Assessment")" class="btn"><i class="fas fa-backward"></i> Back</a>

    <i class="fas fa-tasks"></i> @ViewBag.Title
</div>
<div class="LMS_body">
    <table class="disabled table table-bordered" id="table_id">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Class</th>
                <th>Result</th>
                <th>Percentage</th>
                <th>Update</th>
                <th>Date / Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Syed Talha</td>
                <td>English</td>
                <td>Pending</td>
                <td>- - -</td>
                <td>
                    <a href="" class="btn btn-warning">Update</a>
                </td>
                <td>2021-04-03 08:34:14.813</td>
            </tr>
            <tr>
                <td>Syed Talha</td>
                <td>English</td>
                <td>Passed</td>
                <td>87%</td>
                <td>
                    <a href="" class="btn btn-warning">Update</a>
                </td>
                <td>2021-04-03 08:34:14.813</td>
            </tr>
            <tr>
                <td>Syed Talha</td>
                <td>English</td>
                <td>Pending</td>
                <td>- - -</td>
                <td>
                    <a href="" class="btn btn-warning">Update</a>
                </td>
                <td>2021-04-03 08:34:14.813</td>
            </tr>
            <tr>
                <td>Syed Talha</td>
                <td>English</td>
                <td>Failed</td>
                <td>36%</td>
                <td>
                    <a href="" class="btn btn-warning">Update</a>
                </td>
                <td>2021-04-03 08:34:14.813</td>
            </tr>
            <tr>
                <td>Syed Talha</td>
                <td>English</td>
                <td>Pending</td>
                <td>- - -</td>
                <td>
                    <a href="" class="btn btn-warning">Update</a>
                </td>
                <td>2021-04-03 08:34:14.813</td>
            </tr>
        </tbody>
    </table>
</div>



<div>

</div>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
<script>

    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>