﻿@{
    ViewBag.Title = "Start Exam";
}

<div class="LMS_Header">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <a href="@Url.Action("Classes","Assessment")" class="btn" style="color:#c1354f!important;">
                <i class="fas fa-backward"></i> Back
            </a>
            @ViewBag.Title
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="text-align:right; padding-right:5%;">
            Instructor: <code>Syed Talha</code>
        </div>
    </div>
</div>
<style>
    html {
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        background-color: #39903947;
        margin-right: 100px;
    }
</style>
<div class="LMS_body">

    <form action="" class="form" method="post" style="overflow: scroll; height:75vh; overflow-x:hidden; padding:10px;">
        <div class="form-group">
            <label class="control-label">Question:</label>
            <b class="form-control">What is MIS? why we use it?</b>
            <label class="control-label">Answers:</label>
            <br />
            <div class="form-control" style="height:10vh;">
                <input type="checkbox" name="ans" value="" /> MIS Stands for Management Information Systems and we use it to automate our system.
                <br />
                <input type="checkbox" name="ans" value="" /> MIS Stands for Website and we use it for shopping.
                <br />
                <input type="checkbox" name="ans" value="" /> MIS Stands for Management Information Systems and we use for Learning purpose.
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Question:</label>
            <b class="form-control">What is MIS? why we use it?</b>
            <label class="control-label">Answers:</label>
            <br />
            <div class="form-control" style="height:10vh;">
                <input type="checkbox" name="ans" value="" /> MIS Stands for Management Information Systems and we use it to automate our system.
                <br />
                <input type="checkbox" name="ans" value="" /> MIS Stands for Website and we use it for shopping.
                <br />
                <input type="checkbox" name="ans" value="" /> MIS Stands for Management Information Systems and we use for Learning purpose.
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Question:</label>
            <b class="form-control">What is MIS? why we use it?</b>
            <label class="control-label">Answers:</label>
            <br />
            <div class="form-control" style="height:10vh;">
                <input type="checkbox" name="ans" value="" /> MIS Stands for Management Information Systems and we use it to automate our system.
                <br />
                <input type="checkbox" name="ans" value="" /> MIS Stands for Website and we use it for shopping.
                <br />
                <input type="checkbox" name="ans" value="" /> MIS Stands for Management Information Systems and we use for Learning purpose.
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Question:</label>
            <b class="form-control">What is MIS? why we use it?</b>
            <label class="control-label">Answers:</label>
            <br />
            <div class="form-control" style="height:10vh;">
                <input type="checkbox" name="ans" value="" /> MIS Stands for Management Information Systems and we use it to automate our system.
                <br />
                <input type="checkbox" name="ans" value="" /> MIS Stands for Website and we use it for shopping.
                <br />
                <input type="checkbox" name="ans" value="" /> MIS Stands for Management Information Systems and we use for Learning purpose.
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Question:</label>
            <b class="form-control">What is MIS? why we use it?</b>
            <label class="control-label">Answers:</label>
            <br />
            <div class="form-control" style="height:10vh;">
                <input type="checkbox" name="ans" value="" /> MIS Stands for Management Information Systems and we use it to automate our system.
                <br />
                <input type="checkbox" name="ans" value="" /> MIS Stands for Website and we use it for shopping.
                <br />
                <input type="checkbox" name="ans" value="" /> MIS Stands for Management Information Systems and we use for Learning purpose.
            </div>
        </div>


        <a href="@Url.Action("Index","Assessment")" class="btn btn-warning">
            <i class="fas fa-ban"></i> Cancel
        </a>
        <a class="btn btn-primary" id="submit">
            <i class="fas fa-check-double"></i>
            Submit
        </a>

    </form>

</div>



<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#submit").click(function () {
            debugger;
            swal("Good Job!", "Exam has been submitted,Now Please wait for Result announcement!", "success");
            setTimeout(function () {
            debugger;
                window.location.href = "@Url.Action("Index")"; //will redirect to your page (an ex: Task/Tasks)
            }, 1500);
        });
    });
</script>