﻿
@{
    ViewBag.Title = "User Profile";
}

<div class="LMS_Header">
    <a href="@Url.Action("Index","Dashboard")" class="btn"><i class="fas fa-backward"></i> Back</a>

    <i class="fas fa-tasks"></i> @ViewBag.Title
</div>

<div class="col-sm-12 col-xs-12 LMS_body">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
            <img src="~/images/profile.png" />
        </div>
        <form action="/UserProfile/Update" method="post">
            <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12" style="border-left:1px solid; max-height:initial;">
                <div style="font-size:30px; font-weight:bold; margin-top:15px;">
                    @Session["Name"]
                    <button type="submit" class="btn btn-primary" style="float:right;" data-toggle="ajax-modal" data-target="#update" data-url="@Url.Action($"update/{User.Identity}","dashboard")">Update</button>

                </div>
                <br />
                <div class="form-group">
                    <label class="control-label">Profile ID: </label>
                    <input type="text" name="profileID" class="form-control max-width" readonly placeholder="0011E1" value="" />
                </div>

                <div class="form-group">
                    <label class="control-label">Full Name: </label>
                    <input type="text" name="name" class="form-control max-width" readonly placeholder="@Session["Name"]" value="" />
                </div>

                <div class="form-group">
                    <label class="control-label">Email Address: </label>
                    <input type="email" name="email" class="form-control max-width" readonly placeholder="@Session["Username"]" value="@Session["Username"]" />
                </div>

                <div class="form-group">
                    <label class="control-label">Phone Number: </label>
                    <input type="text" name="phone" class="form-control max-width" placeholder="@Session["Phone"]" value="@Session["Phone"]" />
                </div>

                <div class="form-group">
                    <label class="control-label">Home Address: </label>
                    <input type="text" name="address" class="form-control max-width" placeholder="@Session["Address"]" value="@Session["Address"]" />
                </div>

                <div class="form-group">
                    <label class="control-label">upload Profile</label>
                    <input type="file" class="form-control max-width" name="name" value="" />
                </div>

                <div class="form-group">
                    <label class="control-label">password</label>
                    <input type="password" class="form-control max-width" name="password" value="@Session["Password"]" required />
                </div>

            </div>
        </form>
    </div>
</div>