﻿
@{
    ViewBag.Title = "Fields";
}
<style>
    .catlog {
        padding: 1%;
        margin-top: 1%;
        margin-left: 6%;
        font-size: 20px;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .Assessment {
        background-color: red;
    }
</style>
<div class="LMS_Header">
    <a href="@Url.Action("Index","Dashboard")" class="btn"><i class="fas fa-backward"></i> Back</a>

    <i class="fas fa-swatchbook"></i> @ViewBag.Title
</div>
<div class="LMS_body col-sm-12 col-xs-12">

    <div class="row">

        <a class="col-md-5 catlog btn btn-danger col-sm-10 col-xs-10" href="@Url.Action("IT","Field")">
            <i class="fas fa-fingerprint"></i> IT
        </a>

        <a class="col-md-5 catlog btn btn-warning col-sm-10 col-xs-10" href="@Url.Action("Student","Field")">
            <i class="fas fa-user-graduate"></i> Student
        </a>

        <a class="col-md-5 catlog btn btn-primary col-sm-10 col-xs-10" href="@Url.Action("Instructors","Field")">
            <i class="fas fa-chalkboard-teacher"></i> Instructors
        </a>

        <a class="col-md-5 catlog btn btn-success col-sm-10 col-xs-10" href="@Url.Action("Users","Field")">
            <i class="fas fa-users"></i> Users
        </a>

        <a class="col-md-5 catlog btn btn-info col-sm-10 col-xs-10" href="@Url.Action("Recovery","Field")">
            <i class="fas fa-users-cog"></i> Recovery
        </a>

    </div>

</div>
