﻿
@{
    ViewBag.Title = "Team IT";
}

<style>
    .catlog {
        padding: 1%;
        margin-top: 1%;
        margin-left: 6%;
        font-size: 20px;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .Assessment {
        background-color: red;
    }
</style>

<div class="LMS_Header">
    <a href="@Url.Action("Index","Field")" class="btn"><i class="fas fa-backward"></i> Back</a>

    <i class="fas fa-fingerprint"></i> @ViewBag.Title
</div>

<div class="LMS_body col-sm-12 col-xs-12">

    <div class="row">

        <a class="col-md-5 catlog btn btn-success col-sm-10 col-xs-10" href="@Url.Action("RoleAssignment","Field")">
            <i class="fas fa-user-tag"></i> Role Assignment
        </a>

        <a class="col-md-5 catlog btn btn-danger col-sm-10 col-xs-10" href="@Url.Action("PermAssignment","Field")">
            <i class="fas fa-user-shield"></i> Permission Assignment
        </a>

    </div>
</div>