﻿
@{
    ViewBag.Title = "Organizations Tree";
}

<style>
    html {
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        background-color: #39903947;
        margin-right: 100px;
    }
    
</style>

<div class="LMS_Header">
    <a href="@Url.Action("RoleAssignment","Field")" class="btn"><i class="fas fa-backward"></i> Back</a>
    <i class="fas fa-sitemap"></i> @ViewBag.Title
</div>

<div class="LMS_body col-sm-12 col-xs-12">

    <div class="form-group" style="float:right;">
        <label class="control-label">Search: </label>
        <input type="text" onkeyup="myFunction()" id="Search" class="form-control" placeholder="Search by Organization" name="name" value="" />
    </div>
    <br />
    <br />
    <br />
    <br />
    <div style="overflow:auto; height:70vh;">
        <table id="Table" class="table table-bordered table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Organization ID</th>
                    <th>Organization Name</th>
                    <th>Phone Number</th>
                    <th>Tel Number</th>
                    <th>Email Address</th>
                    <th>Website</th>
                    <th>Postal Code</th>
                    <th>Country</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>Mobily</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@Mobilyllc.com</td>
                    <td>https://mobilyllc.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-warning"><i class="fas fa-lock"></i> Locked </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>001</td>
                    <td>Mobily</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@Mobilyllc.com</td>
                    <td>https://mobilyllc.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-warning"><i class="fas fa-lock"></i> Locked </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Mobilelink Usa</td>
                    <td>03152155245</td>
                    <td>+923152155245</td>
                    <td>syed_talha@mobilelinkusa.com</td>
                    <td>https://mobilelinkusa.com</td>
                    <td>1001</td>
                    <td>US</td>
                    <td>
                        <div class="btn alert-success"><i class="fas fa-lock-open"> </i>  Active </div>
                    </td>
                    <td>
                        <a class="btn btn-warning"><i class="fas fa-edit"></i> Update</a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>


<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("Search");
        filter = input.value.toUpperCase();
        table = document.getElementById("Table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>