﻿
@{
    ViewBag.Title = "Add New Organization";
}

<div class="LMS_Header">
    <a href="@Url.Action("RoleAssignment","Field")" class="btn"><i class="fas fa-backward"></i> Back</a>
    <i class="fas fa-location-arrow"></i> @ViewBag.Title
</div>
<div class="LMS_body col-md-12 col-sm-12 col-xs-12">

    <form action="" method="post">

        <div class="form-group">
            <label class="control-label">
                Organization Name:
            </label>
            <input type="text" name="organizationName" class="form-control max-width" placeholder="Enter Organization Name" value="" required />
        </div>

        <div class="form-group">
            <label class="control-label">
                Organization Description:
            </label>
            <input type="text" name="organizationName" class="form-control max-width" placeholder="Enter Organization Description" value="" />
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label">
                        Organization Phone:
                    </label>
                    <input type="text" name="organizationName" class="form-control max-width" placeholder="Enter Organization Phone Number" value="" required />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label">
                        Organization Tel:
                    </label>
                    <input type="text" name="organizationName" class="form-control max-width" placeholder="Enter Organization Tel Number" value="" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label">
                        Email:
                    </label>
                    <input type="email" name="organizationName" class="form-control max-width" placeholder="Enter Organization Email Address" value="" required />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label">
                        Website:
                    </label>
                    <input type="url" name="organizationName" class="form-control max-width" placeholder="Enter Organization Website URL" value="" required />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">
                Organization Address:
            </label>
            <input type="text" name="organizationName" class="form-control max-width" placeholder="Enter Organization Address" value="" required />
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label">
                        City:
                    </label>
                    <input type="text" name="organizationName" class="form-control max-width" placeholder="Enter Organization City" value="" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label">
                        Postal:
                    </label>
                    <input type="text" name="organizationName" class="form-control max-width" placeholder="Enter Organization Postal Code" value="" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label">
                        Country:
                    </label>
                    <input type="text" name="organizationName" class="form-control max-width" placeholder="Enter Organization Country" value="" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <br />
                <div class="form-group">
                    <a onclick="Cancel()" class="btn btn-warning"><i class="fas fa-ban"></i> Cancel</a>
                    <a onclick="AddOrganization()" class="btn btn-success"><i class="fas fa-location-arrow"></i> Add New Location</a>
                </div>
            </div>
        </div>

    </form>

</div>
<script>
    function AddOrganization() {
        debugger;
        swal({
            title: "Good job!",
            text: "You Have Added a New Organization in Portal!",
            icon: "success",
            button: "Go Back!",
        });
        setTimeout("location.href = '@Url.Action("RoleAssignment", "Field")';", 2000);
    }
        function Cancel() {
        debugger;
            swal("Oops", "The Record you have entered is not saved!", "error");
        setTimeout("location.href = '@Url.Action("RoleAssignment", "Field")';", 2000);
    }
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>