﻿
@{
    ViewBag.Title = "New User";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="/path/to/cdn/bootstrap.min.css" />
<script src="/path/to/cdn/jquery.min.js"></script>
<script src="/path/to/cdn/bootstrap.min.js"></script>

<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css">
<script type="text/javascript" src="js/bootstrap-multiselect.js"></script>

<div class="LMS_Header">
    <a href="@Url.Action("Users","Field")" class="btn"><i class="fas fa-backward"></i> Back</a>
    <i class="fas fa-user-plus"></i> @ViewBag.Title
</div>
<div class="LMS_body">
    <form action="" method="post">
        <div class="form-group">
            <label class="control-label">
                Username
            </label>
            <input type="text" class="form-control max-width" placeholder="Enter UserName" name="name" value="" />
        </div>
        <div class="form-group">
            <label class="control-label">
                Email
            </label>
            <input type="email" class="form-control max-width" placeholder="Enter Email" name="name" value="" />
        </div>
        <div class="form-group">
            <label class="control-label">
                Role
            </label>
            <select class="form-control max-width">
                <option value="">Select Role</option>
                <option value="">IT</option>
                <option value="">Instructor</option>
                <option value="">Finance</option>
                <option value="">Student</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Select Class</label>
            <select data-placeholder="Select Class to Assign User By There Role" multiple class="chosen-select max-width form-control" name="test">
                <option value="">Select Class to Assign User By There Role</option>
                <option value="">One</option>
                <option value="">Two</option>
                <option value="">Three</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">
                Status
            </label>
            <select class="form-control max-width" data-placeholder="Select Status">
                <option value="1">Active</option>
                <option value="0">DeActive</option>
            </select>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.js"></script>
        <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />


        </form>
</div>


<script>

    $(".chosen-select").chosen({
        no_results_text: "Oops, nothing found!"
    });

</script>
