﻿
@{
    ViewBag.Title = "Role Assignment";
}

<style>
    .catlog {
        padding: 1%;
        margin-top: 1%;
        margin-left: 6%;
        font-size: 20px;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .Assessment {
        background-color: red;
    }
</style>

<div class="LMS_Header">
    <a href="@Url.Action("Index","Field")" class="btn"><i class="fas fa-backward"></i> Back</a>

    <i class="fas fa-user-tag"></i> @ViewBag.Title
</div>
<div class="LMS_body col-sm-12 col-xs-12">

    <div class="row">

        <a class="col-md-5 catlog btn btn-warning col-sm-10 col-xs-10" href="@Url.Action("NewOrganization","Field")">
            <i class="fas fa-location-arrow"></i> Add New Organization
        </a>

        <a class="col-md-5 catlog btn btn-danger col-sm-10 col-xs-10" href="@Url.Action("ManageOrganization","Field")">
            <i class="fas fa-sitemap"></i> Update Organization
        </a>

        <a class="col-md-5 catlog btn btn-info col-sm-10 col-xs-10" href="@Url.Action("WebNewUser","Field")">
            <i class="fas fa-user-plus"></i> Add New User
        </a>

        <a class="col-md-5 catlog btn btn-primary col-sm-10 col-xs-10" href="@Url.Action("WebUsers","Field")">
            <i class="fas fa-users-cog"></i> Update User
        </a>

    </div>
</div>
