﻿
@{
    ViewBag.Title = "Users";
}
<style>
    html {
        overflow: hidden;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        background-color: #39903947;
        margin-right: 100px;
    }
</style>
<div class="LMS_Header">
    <div class="row">
        <div class="col-md-6 col-md-6 col-sm-12 col-xs-12">
            <a href="@Url.Action("Index","Field")" class="btn"><i class="fas fa-backward"></i> Back</a>
            <i class="fas fa-users"></i> @ViewBag.Title
        </div>

        <a href="@Url.Action("NewUser","Field")" class="col-md-4 col-md-4 col-sm-12 col-xs-12 btn btn-primary" style="margin-left:15%; color:white!important;"><i class="fas fa-user-plus"></i> Add New User </a>
    </div>
</div>
<div class="LMS_body col-sm-12 col-xs-12">

    <table class="table table-bordered table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th class="col-lg-1 col-md-1">UserID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th class="col-lg-1 col-md-1">Class</th>
                <th class="col-lg-1 col-md-1">Role</th>
                <th class="col-lg-1 col-md-1">Status</th>
                <th class="col-lg-1 col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>

                <td>Syed Talha</td>
                <td>syed_talha@mobilelinkusa.com</td>
                <td>One</td>
                <td>Student</td>
                <td><button class="btn alert-success"> <i class="fas fa-unlock-alt"></i> Active </button></td>
                <td><a class="btn btn-warning" href="@Url.Action("UserUpdate")"><i class="fas fa-edit"></i> Update</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Syed Talha</td>
                <td>syed_talha@mobilelinkusa.com</td>
                <td>Two</td>
                <td>Student</td>
                <td><button class="btn alert-danger"><i class="fas fa-user-lock"></i> Locked </button></td>
                <td><a class="btn btn-warning" href="@Url.Action("UserUpdate")"><i class="fas fa-edit"></i> Update</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Suleman</td>
                <td>muhammad_suleman@mobilelinkusa.com</td>
                <td>- - -</td>
                <td>Instructor</td>
                <td><button class="btn alert-success"><i class="fas fa-unlock-alt"></i> Active </button></td>
                <td><a class="btn btn-warning" href="@Url.Action("UserUpdate")"><i class="fas fa-edit"></i> Update</a></td>
            </tr>
        </tbody>
    </table>

</div>

<script>
    window.console.log("hello world");
    console.log("hello world");
</script>