﻿
@{
    ViewBag.Title = "AddAddTask";
    string response = "";
    if (TempData["Response"] != null)
    {
        response = TempData["Response"].ToString();
    }
}

<div class="LMS_Header">
    <a href="@Url.Action("Index","Task")" class="btn"><i class="fas fa-backward"></i> Back</a>

    <i class="fas fa-plus"></i> @ViewBag.Title
</div>
<div class="LMS_body">
    <form action="/Task/AddTask" class="form" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label">Task:</label>
            <input type="text" name="Task" placeholder="Enter Task" class="form-control max-width" value="" />
        </div>
        <div class="form-group">
            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">Assigned To:</label>
                    <select class="form-select form-control" aria-label="Default select example" name="User">
                        <option selected>Select User</option>
                        <option value="1">John</option>
                        <option value="2">Syed Talha</option>
                        <option value="3">Syed Hamza</option>
                    </select>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <label for="exampleFormControlFile1">Attachment:</label>
                    <input type="file" name="Attachment" class="form-control-file form-control" id="exampleFormControlFile1">
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" style="margin-top:7%;">
                        <input type="submit" class="btn btn-primary control-label " name="name" value="Assign Task" />
                        <a href="@Url.Action("Index","Task")" class="btn btn-warning">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@if (!string.IsNullOrEmpty(response))
{
    var message = TempData["Message"].ToString();
    if (response == "1")
    {
        <script>
            //$(document).ready(function () { toast('@message') });
            debugger;
            alert('Submitted');
        </script>

    }else
    {
        <script>
            @*$(document).ready(function () {
                toast1('@message')
            });*@
            debugger;
            alert('Error');
        </script>
    }
}