﻿@using LMS.Models.Tasks;
<h3 class="panel-title center semi-bold well" style="background-color:#e1f3f3;color:black;text-align: center;"><strong>Attachments</strong></h3>

<table class="table table-responsive table-bordered" style="overflow-y:auto">

    <thead style="color:black;">
        <tr>

        </tr>
    </thead>
    <tbody>
        @foreach (var std in ViewData["attchmntDetails"] as IEnumerable<Attach>)
        {

            <tr>

                @*<th> @count </th>*@

                @*<img src="@std.Attachment" width="150" height="100" style="border-radius: 8px;" />*@

                @*<th><a src="@std">Image @std</a></th>*@
                @*<th><a href=@url>Image @a</a></th>*@
                <td><a href="@std.Attachment" download>@std.Attachment</a></td>


            </tr>

        }






    </tbody>
</table>
