﻿
@{
    ViewBag.Title = "Edit";
}

<div class="LMS_Header">
    <a href="@Url.Action("Tasks","Task")" class="btn"><i class="fas fa-backward"></i> Back</a>

    <i class="fas fa-tasks"></i> @ViewBag.Title
</div>
<div class="LMS_body">

    <form action="/Task/Post" method="post">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label">
                        Assigned By:
                    </label>
                    <input type="text" name="name" value="" placeholder="Syed Talha" class="form-control" readonly />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " style="">
                <div class="form-group">
                    <label class="control-label">
                        Attachment:
                    </label>
                    <div class="form-control" readonly>
                        <a href="#">Task Assigned File</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">
                Task:
            </label>
            <textarea class="form-control max-width" style="height:10vh; color:#9999a5;" readonly>
                Testing Task Testing TaskTesting Task Testing Task
            </textarea>
        </div>

        <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="control-label">Status:</label>
                    <select class="form-control">
                        <option value="1">Pending</option>
                        <option value="2">Completed</option>
                        <option value="3">Declined</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <a class="btn btn-primary" style="margin-top:6%;" id="update">
                    Update Record
                </a>
            </div>
        </div>

    </form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#update").click(function () {
            debugger;
            swal("Good job!", "The Task has been updated!", "success");
            setTimeout(function () {
            debugger;
                window.location.href = "@Url.Action("Tasks")"; //will redirect to your page (an ex: Task/Tasks)
            }, 1500);
        });
    });
    $(document).ready(function () {
        $("#error").click(function () {
            swal("Error Occurred!", "Please reachout to Team IT!", "warning");
        });
    });
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
