﻿@{
    ViewBag.Title = "Tasks Management";
}
@using LMS.Models.Loginuser
<style>
    .btn-height {
        padding: 1.5%;
        font-weight: bold;
    }
</style>
<div class="LMS_Header">
    <a href="@Url.Action("Index","Dashboard")" class="btn"><i class="fas fa-backward"></i> Back</a>

    <i class="fas fa-tasks"></i> @ViewBag.Title
</div>
<div class="LMS_body">
    <div class="row">
        @foreach (var item in ViewData["permissions"] as IEnumerable<Permissions>)
        {
            if (item.PermID == "8")
            {
                <div class="col-lg-1"></div>
                <a href="@Url.Action("AddTask","Task")">
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 btn btn-primary btn-height"><i class="fas fa-plus"></i> Add Task</div>
                </a>
            }
            else if (item.PermID == "9")
            {
                <div class="col-lg-2"></div>
                <a href="@Url.Action("MyTask","Task")">
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 btn btn-info btn-height"><i class="fas fa-tasks"></i> My Request</div>
                </a>
            }
            else if (item.PermID == "10")
            {
                <br />
                <br />
                <br />
                <br />
                <div class="col-lg-1"></div>
                <a href="@Url.Action("Tasks","Task")">
                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 btn btn-success btn-height"><i class="fas fa-tasks"></i> View Assigned Task</div>
                </a>
            }
        }



    </div>
</div>

