﻿@using LMS.Models.Tasks;

@{
    ViewBag.Title = "My Request";
}
<div class="LMS_Header">
    <a href="@Url.Action("Index","Task")" class="btn"><i class="fas fa-backward"></i> Back</a>

    <i class="fas fa-tasks"></i> @ViewBag.Title
</div>
<div class="LMS_body">
    <div class="table-responsive table-responsive-sm table-responsive-md">
        <select id="SectionID">

        </select>
        <table class="table table-striped table-bordered table-hover" id="example">
            <thead>
                <tr>
                    <th scope="col" class="col-lg-8">Task</th>
                    <th scope="col">Status</th>
                    <th scope="col">Assigned To</th>
                    <th scope="col">Attachments</th>
                    <th scope="col">Assigned Date/Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in ViewData["mytask"] as IEnumerable<MyTasks>)
                {
                    <tr>
                        <td scope="row">@items.Task</td>
                        @if (items.StatusID == "1")
                        {
                            <td>Pending</td>
                        }
                        else if (items.StatusID == "2")
                        {
                            <td>Completed</td>
                        }
                        else if (items.StatusID == "3")
                        {
                            <td>Decliend</td>
                        }
                        else
                        {
                            <td class="badge alert-warning">Error</td>
                        }
                        <td scope="row">@items.AssignedTo</td>
                        <td>
                            <button id="@items.TaskID" onclick="attachmentdetails(this.id)" class="btn btn-primary"><i class="fas fa-archive"></i></button>
                        </td>
                        <td>@items.TimeStamp</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


<div class="modal fade" tabindex="-1" role="dialog" id="viewattachmentdetails">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attachment Details</h5>
                <button type="button" class="close" data-dismiss="modal" style="margin-top:-23px" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="viewattachmentbody">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Attachments </strong>
                    </div>
                    <div class="card-body">
                    </div>
                    <hr />
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    var attachmentdetails = function (requestid) {
        debugger;
        var url = "/Task/AttachmentsDetails?profileID=" + requestid;
        $("#viewattachmentbody").load(url, function () {
            $("#viewattachmentdetails").modal("show");
        });
    }

    //function attachmentdetails(requestid) {
    //    $("#MenuID").val(requestid);
    //    debugger;
    //    $.ajax({
    //        url: "/Task/AttachmentsDetails",
    //        method: "Get",
    //        data: { ProfileID: requestid },
    //        success: function (data) {
    //            debugger;
    //            var tablestring = "";
    //            for (var i = 0; i < data.SectionDetails.length; i++) {
    //                tablestring += "<option value=''>" + data.SectionDetails[i].Attachment + "</option>";
    //            }
    //            $("#SectionID").html(tablestring);
    //            $("#viewattachmentdetails").modal("show");
    //        }
    //    });
    //}
</script>