﻿
@{
    ViewBag.Title = "Tasks";
}

<div class="LMS_Header">
<a href="@Url.Action("Index","Task")" class="btn"><i class="fas fa-backward"></i> Back</a>

<i class="fas fa-tasks"></i> @ViewBag.Title
</div>
<div class="LMS_body">
    <div class="table-responsive table-responsive-sm table-responsive-md">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col" class="col-lg-8">Task</th>
                    <th scope="col">Status</th>
                    <th scope="col">Assigned By</th>
                    <th scope="col">Update</th>
                    <th scope="col">Assigned Date/Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">Take Test</td>
                    <td class="">Pending</td>
                    <td scope="row">Syed Talha</td>
                    <td scope="row">
                        <a href="@Url.Action("Edit")" class="btn btn-warning">Edit</a>
                    </td>
                    <td>2021-04-03 08:34:14.813</td>
                </tr>
                <tr>
                    <td scope="row">Take Test</td>
                    <td>Pending</td>
                    <td scope="row">Syed Talha</td>
                    <td scope="row">
                        <a href="@Url.Action("Edit")" class="btn btn-warning">Edit</a>
                    </td>
                    <td>2021-04-03 08:34:14.813</td>
                </tr>
                <tr>
                    <td scope="row">Take Test</td>
                    <td>Pending</td>
                    <td scope="row">Syed Talha</td>
                    <td scope="row">
                        <a href="@Url.Action("Edit")" class="btn btn-warning">Edit</a>
                    </td>
                    <td>2021-04-03 08:34:14.813</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>