﻿@{
    ViewBag.Title = "DashBoard";
}
@using LMS.Models.Loginuser;
<style>
    .admin-dash{
        padding:10px;
        text-align:center;
    }
</style>
<div class="LMS_body" style="padding:2%;">
    <div class="row">

        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 admin-dash btn-info">
            <h2>Not Calculated yet</h2>
            <span>Disk Usage</span>
            <div style="font-size:48px;color: rgba(0,0,0,.15);top:0;position:absolute;right:4%;">
            <i class="far fa-hdd"></i>
            </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 admin-dash btn-primary">
            <h2>4718 / 0</h2>
            <span>Active / Suspended Users</span>
            <div style="font-size:48px;color: rgba(0,0,0,.15);top:0;position:absolute;right:4%;">
                <i class="fas fa-user-friends"></i>
            </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 admin-dash btn-danger">
            <h2>11</h2>
            <span>Total Courses</span>
            <div style="font-size:48px;color: rgba(0,0,0,.15);top:0;position:absolute;right:4%;">
                <i class="fas fa-graduation-cap"></i>
            </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 admin-dash btn-success">
            <h2>Not Available</h2>
            <span>Online Users(last 5 minutes)</span>
            <div style="font-size:48px;color: rgba(0,0,0,.15);top:0;position:absolute;right:4%;">
                <i class="fas fa-toggle-off"></i>
            </div>
        </div>

    </div>
</div>

<div class="LMS_Header">
    Dashboard
</div>

<style>
    .catlog {
        padding: 1%;
        margin-top: 1%;
        margin-left: 6%;
        font-size: 20px;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .Assessment {
        background-color: red;
    }
</style>
<div class="LMS_body col-sm-12 col-xs-12">
    <div class="row">

        @foreach (var item in ViewData["MenuDetails"] as IEnumerable<Usermenu>)
        {
            <a class="@item.Class" href="@item.URL">
                <i class="@item.Icon"></i> @item.MenuIteam
            </a>
        }

    </div>
</div>