﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #eff0f5;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.LMS_Header {
    padding: .75rem 1.25rem;
    color: #73879c;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(0,0,0,.03);
    border: 0px;
    border-top-left-radius: 10px;
    margin-top: 2%;
    border-top-right-radius: 20px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.LMS_body {
    padding: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    border-bottom-right-radius: 10px;
}

.quiz-table {
    background-color: #00000005;
    padding: 2%;
    display: block;
    text-align: center;
    width: 30%;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2%;
}

.LMS_Header a {
    color: #73879c!important;
}

.max-width{
    max-width:inherit;
}
html {
    overflow: hidden!important;
}